{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "quotes": [1, "single"],
    "no-cond-assign": 2,
    "no-constant-condition": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 1,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 1,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": 1,
    "valid-typeof": 2,
    "no-unexpected-multiline": 2,
    "strict": [2, "function"],

    "block-scoped-var": 0,
    "curly": 2,
    "default-case": 2,
    "dot-notation": 1,
    "dot-location": [2, "property"],
    "eqeqeq": 2,
    "guard-for-in": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-div-regex": 2,
    "no-else-return": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 1,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-implicit-coercion": 2,
    "no-implied-eval": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 0,
    "no-loop-func": 2,
    "key-spacing": [1, { "align": "value" }],
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new-wrappers": 2,
    "no-new": 2,
    "no-octal-escape": 2,
    "no-octal": 2,
    "no-param-reassign": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unused-expressions": 1,
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-void": 2,
    "no-with": 2,
    "radix": 2,
    "wrap-iife": [2, "inside"],
    "yoda": 1,

    "no-delete-var": 2,
    "no-shadow-restricted-names": 2,
    "no-shadow": 2,
    "no-undef-init": 1,
    "no-undef": 2,
    "no-undefined": 2,
    "no-unused-vars": [1, {"vars": "all", "args": "all", "varsIgnorePattern": "^_[^_]{1,}_$", "argsIgnorePattern": "^_[^_]{1,}_$"}],
    "no-use-before-define": 2,

    "callback-return": 2,
    "handle-callback-err": [1, "^(err|error|errs|errors)$" ],
    "no-path-concat": 2,

    "array-bracket-spacing": [1, "always", { "singleValue": false, "objectsInArrays": true, "arraysInArrays": true }],
    "block-spacing": 1,
    "brace-style": [1, "1tbs", { "allowSingleLine": true }],
    "camelcase": [1, {"properties": "never"}],
    "comma-spacing": [1, {"before": false, "after": true}],
    "comma-style": [1, "last"],
    "computed-property-spacing": [1, "never"],
    "consistent-this": [2, "self"],
    "eol-last": 1,
    "func-style": [1, "declaration"],
    "indent": [1, 2],
    "key-spacing": [1, { "align": "value" }],
    "linebreak-style": 2,
    "new-cap": 1,
    "new-parens": 1,
    "newline-after-var": 1,
    "no-array-constructor": 1,
    "no-inline-comments": 1,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 1,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-nested-ternary": 1,
    "no-new-object": 1,
    "no-spaced-func": 1,
    "no-trailing-spaces": 1,
    "no-unneeded-ternary": 1,
    "object-curly-spacing": [1, "always", {"objectsInObjects": true, "arraysInObjects": false}],
    "one-var": [2, "never"],
    "operator-assignment": [1, "always"],
    "operator-linebreak": [1, "after"],
    "padded-blocks": [1, "never"],
    "semi-spacing": [1, {"before": false, "after": true}],
    "semi": [2, "always"],
    "space-after-keywords": [1, "always"],
    "space-before-blocks": [1, "always"],
    "space-before-function-paren": [1, "never"],
    "space-in-parens": [1, "never"],
    "space-infix-ops": 1,
    "space-return-throw-case": 1,
    "space-unary-ops": [1, { "words": true, "nonwords": false }],
    "wrap-regex": 1,

    "quote-props": [1, "as-needed"]
  }
}
